 <nav class="navbar">
    <a class="navelement" href="/home">Home</a>
    <a class="navelement" href="#">About</a>
    <a class="navelement" href="/createpost">Add Post</a>
    <a class="navelement" href="#">Team</a>
</nav>